**Coleta dos Dados e Web Scraping**

### Instalar bibliotecas

Vamos instalar todos as bibliotecas que utilizaremos

In [ ]:
# Importação e estruturação da biblioteca Pandas (ler, manipular, agregar e plotar os dados)
# Muito utilizado para Análise Exploratória de Dados (EDA)
import pandas as pd
# Configuração da exibição do Dataframe
pd.set_option("display.max_colwidth", 140) # Configura as colunas
pd.set_option("display.min_rows", 20) # Configura as linhas do meu dataframe.

Vamos importar a biblioteca Numpy, responsável pelas funções matemáticas

Guarde todas as informações das bibliotecas Pandas e Numpy

In [ ]:
# Importar a biblioteca Numpy: específica para funções matemáticas
# Uma boa prática é sempre instalar com a sigla "np"
import numpy as np

### Coletando dados com Web Scraping

Vamos instalar o yfinance: https://pypi.org/project/yfinance/

In [ ]:
# Instalar o Yahoo Finance
# yfinance busca fazer o download dos dados do Yahoo! finance (https://pypi.org/project/yfinance/).
!pip install yfinance
import yfinance as yf # Sempre usar yf para esta biblioteca.

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/7a/e8/b9d7104d3a4bf39924799067592d9e59119fcfc900a425a12e80a3123ec8/yfinance-0.1.55.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/d2/88/b25778f17e5320c1c58f8c5060fb5b037288e162bd7554c30799e9ea90db/lxml-4.6.2-cp37-cp37m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 20.2MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.55-py2.py3-none-any.whl size=22616 sha256=a3e0a71be1b138a2ef927e84a19d5eb9e333d2214218b6f25e6059846fea04e2
  Stored in directory: /root/.cache/pip/wheels/04/98/cc/2702a4242d60bdc14f48b4557c427ded1fe92aedf257d4565c
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.2 yfinance-0.1.55

In [ ]:
# Programação específica apenas para o Google Colaboratory
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [ ]:
# Vamos buscar os dados do Tesouro Direto.
def busca_titulos_tesouro_direto():
  url = 'https://www.tesourotransparente.gov.br/ckan/dataset/df56aa42-484a-4a59-8184-7676580c81e3/resource/796d2059-14e9-44e3-80c9-2d9e30b405c1/download/PrecoTaxaTesouroDireto.csv'
  df  = pd.read_csv(url, sep=';', decimal=',')
  df['Data Vencimento'] = pd.to_datetime(df['Data Vencimento'], dayfirst=True)
  df['Data Base']       = pd.to_datetime(df['Data Base'], dayfirst=True)
  multi_indice = pd.MultiIndex.from_frame(df.iloc[:, :3])
  df = df.set_index(multi_indice).iloc[: , 3:]  
  return df

In [ ]:
titulos = busca_titulos_tesouro_direto() # Criamos os títulos e adicionamos "busca_titulos_tesouro_direto()" a este.

In [ ]:
# Ver os dados das 5 primeiras colunas e 5 primeiras linhas
titulos.head(10)

                                                               Taxa Compra Manha  ...  PU Base Manha
Tipo Titulo                        Data Vencimento Data Base                      ...
Tesouro IPCA+ com Juros Semestrais 2015-05-15      2008-11-10               9.86  ...        1513.94
                                                   2008-11-11               9.85  ...        1515.44
                                                   2008-11-12               9.84  ...        1516.94
                                                   2008-11-13               9.80  ...        1520.58
                                                   2008-11-14               9.92  ...        1512.79
                                                   2008-11-17               9.80  ...        1470.03
                                                   2008-11-18               9.79  ...        1472.09
                                                   2008-11-19               9.70  ...        1478.79
                                                   2008-11-20               9.70  ...        1479.59
                                                   2008-11-21               9.70  ...        1480.39

[10 rows x 5 columns]

In [ ]:
# Ver os dados das últimas 5 linhas
titulos.tail(10)

                                                                   Taxa Compra Manha  ...  PU Base Manha
Tipo Titulo                            Data Vencimento Data Base                      ...
Tesouro Prefixado com Juros Semestrais 2023-01-01      2014-09-04              11.09  ...         960.12
                                                       2014-09-05              11.16  ...         957.09
                                                       2014-09-08              11.11  ...         959.94
                                                       2014-09-09              11.32  ...         950.14
                                                       2014-09-10              11.49  ...         942.40
                                                       2014-09-11              11.51  ...         941.86
                                                       2014-09-12              11.35  ...         949.91
                                                       2014-09-15              11.71  ...         933.24
                                                       2014-09-16              11.62  ...         937.88
                                                       2014-09-17              11.47  ...         945.40

[10 rows x 5 columns]

In [ ]:
titulos.sort_index(inplace=True)
titulos.head(1)

                                                               Taxa Compra Manha  ...  PU Base Manha
Tipo Titulo                        Data Vencimento Data Base                      ...
Tesouro IGPM+ com Juros Semestrais 2005-07-01      2004-12-31               9.23  ...        1827.87

[1 rows x 5 columns]

In [ ]:
titulos.head()

                                                               Taxa Compra Manha  ...  PU Base Manha
Tipo Titulo                        Data Vencimento Data Base                      ...
Tesouro IGPM+ com Juros Semestrais 2005-07-01      2004-12-31               9.23  ...        1827.87
                                                   2005-01-03               9.23  ...        1776.51
                                                   2005-01-04               9.26  ...        1777.32
                                                   2005-01-05               9.28  ...        1778.20
                                                   2005-01-06               9.31  ...        1779.01

[5 rows x 5 columns]

In [ ]:
tipos_titulos = titulos.index.droplevel(level=1).droplevel(level=1).drop_duplicates().to_list()
tipos_titulos

['Tesouro IGPM+ com Juros Semestrais',
 'Tesouro IPCA+',
 'Tesouro IPCA+ com Juros Semestrais',
 'Tesouro Prefixado',
 'Tesouro Prefixado com Juros Semestrais',
 'Tesouro Selic']

In [ ]:
pre2023 = titulos.loc[('Tesouro Prefixado', '2023-01-01')]
pre2023.head(2)

            Taxa Compra Manha  Taxa Venda Manha  ...  PU Venda Manha  PU Base Manha
Data Base                                        ...
2016-01-26              16.59             16.65  ...          345.49         345.28
2016-01-27              16.32             16.38  ...          351.27         351.06

[2 rows x 5 columns]

In [ ]:
pre2023.head(2)

            Taxa Compra Manha  Taxa Venda Manha  ...  PU Venda Manha  PU Base Manha
Data Base                                        ...
2016-01-26              16.59             16.65  ...          345.49         345.28
2016-01-27              16.32             16.38  ...          351.27         351.06

[2 rows x 5 columns]

In [ ]:
pre2023.columns

Index(['Taxa Compra Manha', 'Taxa Venda Manha', 'PU Compra Manha',
       'PU Venda Manha', 'PU Base Manha'],
      dtype='object')

In [ ]:
pre2023.index

DatetimeIndex(['2016-01-26', '2016-01-27', '2016-01-28', '2016-01-29',
               '2016-02-01', '2016-02-02', '2016-02-03', '2016-02-04',
               '2016-02-05', '2016-02-10',
               ...
               '2021-01-28', '2021-01-29', '2021-02-01', '2021-02-02',
               '2021-02-03', '2021-02-04', '2021-02-05', '2021-02-08',
               '2021-02-09', '2021-02-10'],
              dtype='datetime64[ns]', name='Data Base', length=1254, freq=None)

In [ ]:
pre2023.shape

(1254, 5)